name = "tg-responcer"
main = "apps/worker-main/index.ts"
compatibility_date = "2025-10-26"

[[d1_databases]]
binding = "DB"
database_id = "7669db41-69ee-4c29-995a-418d71cd81c0"
migrations_dir = "apps/worker-main/migrations"
